10A_nodule_Galaxy65-[Salmon_quant_on_data_62_and_data_1_(Quantification)].tabular filter=lfs diff=lfs merge=lfs -text
8A_young_leaf_Galaxy64-[Salmon_quant_on_data_61_and_data_1_(Quantification)].tabular filter=lfs diff=lfs merge=lfs -text
9A_Root_Galaxy66-[Salmon_quant_on_data_63_and_data_1_(Quantification)].tabular filter=lfs diff=lfs merge=lfs -text
